nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
  background-color: rgba(128, 128, 128, 0.062);
}

a {
  text-decoration: none;
  color: rgb(57, 60, 224);
  font-size: small;
  padding: 5px;
}

#logo {
  width: 100px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 0.5em;
}

li > a:hover {
  color: white;
  background-color: rgba(168, 167, 167, 0.753);
}
