ul {
  list-style: none;
}
/*
.img-cartao {
  width: 200px;
  height: 126px;
  border: 1px solid black;
}

.dados-cartao {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.dados-cartao > p {
  margin: 0;
  font-size: 0.9em;
  padding: 0;
} */
