<div class="d-flex justify-content-evenly mt-3">
  <div class="card" style="width: 20rem">
    <img
      class="img-cartao"
      src="../../../../assets/vem_trabalhador_frente.jpg"
      alt="Imagem Vem Trabalhador"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Vem Trabalhador</h5>
      <p class="card-text">
        <span class="fw-bold"> Como obter: </span> Solicite no site
        <a href="">www.vemgranderecife.com.br</a>. <br />Para solicitar a
        segunda via cadastre-se aqui ou acesse com seu login.
        <br />
        <span class="fw-bold"> Documentos: </span>RG e CPF <br />
        <span class="fw-bold">Requisitos:</span> Usuários de vale-transporte que
        possui CPF e RG.
      </p>

      <button class="btn btn-primary" (click)="adicionarTrabalhador()">
        Adquirir Cartão
      </button>
    </div>
  </div>

  <div class="card" style="width: 20rem">
    <img
      class="img-cartao"
      src="../../../../assets/vem_estudante_frente.jpg"
      alt="Imagem Vem Estudante"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Vem Estudante</h5>
      <p class="card-text">
        <span class="fw-bold"> Atenção: </span> O cartão VEM Estudante é de uso
        pessoal e intransferível, só o titular do cartão poderá utilizá-lo.<br />
        O uso por terceiros caracteriza USO INDEVIDO e estará SUJEITO ÀS
        PENALIDADES DO USO IRREGULAR. Portanto, NÃO EMPRESTE o seu cartão e
        mantenha o mesmo em lugar seguro.
      </p>

      <button class="btn btn-primary" (click)="adicionarEstudantil()">
        Adquirir Cartão
      </button>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img
      class="img-cartao"
      src="../../../../assets/vem_comum_frente.jpg"
      alt="Imagem Vem Comum"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Vem Comum</h5>
      <p class="card-text">
        <span class="fw-bold">Como obter:</span>
        Solicite no Posto do VEM (Rua das Ninfas, 278, Soledade) ou nas Máquinas
        de autoatendimento VEM nos Terminais Integrados, estações de BRT e
        shoppings.
        <br />
        <span class="fw-bold"> Documentos: </span> Não é necessário apresentar
        documentos para obter e usar o cartão VEM Comum.
        <br />
        Requisitos: Qualquer pessoa pode obter um VEM Comum.
      </p>

      <button class="btn btn-primary" (click)="adicionarComum()">
        Adquirir Cartão
      </button>
    </div>
  </div>
</div>
